// Video Player main SCSS file.

$font-size: 1rem;
$font-size-md: 0.83rem;
$font-family-fontawesome: 'FontAwesome', sans-serif;
$fa-volume-off: "\f026";
$fa-volume-up: "\f028";
$fa-window-maximize: "\f2d0";
$fa-window-restore: "\f2d2";
$fa-gear: "\f013";
$fa-play: "\f04b";
$fa-pause: "\f04c";
$fa-refresh: "\f021";

$color-gray-md: #989191;
$color-green: #83b32c;

/*
 * Video Player Styles.
 */
.b-player {
  width: 100%;
  margin: 0;
  line-height: 0;
  position: relative;
  overflow:hidden;
  background: #fff;
  height: 0;
  padding-bottom: 56.25%;

  video {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    object-fit: cover;
  }

  &__controls {
    width: 100%;
    height: 40px;
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: $font-size;

    &__wrap {
      bottom: 0;
      left: 0;
      position: absolute;
      z-index: 99;
      width: 100%;
      background: transparentize(#000, 0.8);
    }

    &__right {
      float: right;
      display: inline-block;
    }

    .action {
      display: inline-block;
      color: #fff;
      font-size: $font-size-md;
      cursor: pointer;

      &:before {
        content: '';
        font-family: $font-family-fontawesome;
      }

      &.playpause {
        width: 25px;
        padding-top: 5px;
        text-align: center;

        @media ( min-width: 780px ) {
          width: 67px;
        }

        &.play {
          &:before {
            content: $fa-play;
          }
        }

        &.pause {
          &:before {
            content: $fa-pause;
          }
        }

        &.refresh {
          &:before {
            content: $fa-refresh;
          }
        }
      }

      &.mute {
        width: 24px;
        text-align: center;
        font-size: 18px;
        margin-right: 5px;

        @media ( min-width: 780px ) {
          margin-left: 10px;
        }

        &:before {
          content: $fa-volume-up;
        }

        &.muted {
          &:before {
            content: $fa-volume-off;
          }
        }
      }

      &.full-screen {
        &:before {
          content: $fa-window-maximize;
        }
      }

      &.gear {
        padding-top: 5px;
        &:before {
          content: $fa-gear;
        }
      }
    }

    &__duration {
      min-width: 70px;

      @media ( min-width: 780px ) {
        min-width: 85px;
      }
    }

    &__volume {
      position: relative;
      cursor: pointer;
      width: 100px;
      height: 2px;
      top: -4px;
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.5);

      &__progress {
        display: block;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 10;
        width: 90%;
        transition: width 0.1s linear;

        &:after {
          content: '';
          display: block;
          background: #fff;
          border-radius: 100%;
          width: 10px;
          height: 10px;
          right: 0;
          position: absolute;
          transform: translateY( -4px ) translateX( 3px );
        }
      }
    }
  }

  &__settings {
    position: relative;
    margin-right: 20px;

    &__overlay {
      position: absolute;
      background: transparentize(#000, 0.8);
      color: #fff;
      bottom: 22px;
      margin-left: auto;
      margin-right: auto;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      transform: translateX( calc( -50% + 3px ));
      cursor: default;

      &__active {
        font-weight: bold;
      }

      ul {
        display: block;
        line-height: 1.3em;
        padding: 10px 15px;
        margin-bottom: 0;
        li {
          display: block;
          cursor: pointer;
        }
      }
    }
  }

  &__progress-bar {
    margin: 0 14px;
    cursor: pointer;

    .buffered {
      height: 3px;
      position: relative;
      width: 100%;
      transition: height 0.1s linear;
    }

    #buffered-amount {
      display: block;
      height: 100%;
      background-color: $color-gray-md;
      width: 0;
      transition: width .25s linear;
    }

    #progress-element {
      margin-top: -3px;
      height: 3px;
      position: relative;
      transition: height 0.1s linear, margin 0.1s linear;
    }

    #progress-amount {
      display: block;
      height: 100%;
      background-color: $color-green;
      width: 0;
      transition: width .25s linear;
    }

    &:hover {
      .buffered {
        height: 10px;
      }

      #progress-element {
        height: 10px;
        margin-top: -10px;
      }
    }

    @media ( max-width: 780px ) {
      .buffered {
        height: 4px;
      }

      #progress-element {
        height: 4px;
        margin-top: -4px;
      }
    }
  }

  // On Full screen, hide default controls and show ours.
  &[data-fullscreen=true] {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    video {
      height: auto;
      object-fit: contain;

      /* hide controls on fullscreen with WebKit */
      &::-webkit-media-controls {
        display: none !important;
      }
    }

    .b-player__controls__wrap {
      position: absolute;
      width: 100%;
      z-index: 2147483647;

      .action {
        &.full-screen {
          &:before {
            content: $fa-window-restore;
          }
        }
      }
    }

    .b-player__settings__overlay {
      z-index: 215000000;
    }

    .b-player__play-button {
      z-index: 9999999999;
    }
  }

  &__play-button {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 35%;
    background: url('../img/play_white.png') center no-repeat;
    background-size: 9%;
    top: 25%;
    right: 50%;
    transform: translateX( 50% );
    cursor: pointer;
  }

  &__loader {
    top: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2147483648;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg) translateY( -50%);

    em {
      position: relative;
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg);
    }
    em {
      float: left;
      width: 50px;
      height: 50px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        background: url( '../img/logo-waiting.png' ) top left no-repeat;
        background-size: 200%;
        -webkit-animation: foldthecube 2.4s infinite linear both;
        animation: foldthecube 2.4s infinite linear both;
        -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
      }


      &:nth-child(2) {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        &:before {
          background-position: top right;
          -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
        }
      }

      &:nth-child(3) {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
        &:before {
          background-position: bottom left;
          -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
        }
      }
      &:nth-child(4) {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);

        &:before {
          background-position: bottom right;
          -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
        }
      }
    }
  }
}


@keyframes foldthecube {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }

  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }

  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
